import type { Meta, StoryObj } from "@storybook/react";

import { {{ inputName }} } from "./{{ inputName }}";

const meta: Meta<typeof {{ inputName }}> = {
  component: {{ inputName }},
};

export default meta;

type Story = StoryObj<typeof {{ inputName }}>;

export const Primary: Story = {
  render: () => <{{ inputName }} foo="hi" />,
};
